    <!-- logo -->
    <img src="./images/Full-logo.png" alt="logo lisaLF">
    <nav>
        <ul>
            <li><a href="#">Project</a></li>
            <li><a href="#">About me</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="#">CV</a></li>
        </ul>
    </nav>