@import url('https://fonts.googleapis.com/css2?family=Domine:wght@600;700&family=Orbitron:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    /* fonts used */
    --font-family-headers: 'Orbitron', serif;
    --font-family-text: 'Montserrat', sans-serif;

    /* colors used */
    --color-primary-bg: #1A1A1A;
    --color-secondary-text-white: #E9E9E9;
    --color-secondary-text-blue: #5E8CA0;

    /* drop shadow used */
    --shadow: 4px 4px 8px rgba(0, 0, 0, 0.31);

    /* tags */
    --gap-tags: 10px
}