* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--color-primary-bg);
    position: relative;
    overflow-x: hidden;
}

html,
body {
    scroll-snap-type: y proximity;
}

h1,
h2,
h3,
h4,
h5,
h6,
li,
a {
    font-family: var(--font-family-headers);
    color: var(--color-secondary-text-white);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase;

}

h1 {
    font-size: 6.25rem;
    color: var(--color-secondary-text-white);
    position: relative;
}

h2 {
    font-size: 2.5rem;
    margin: -0.2em 0;
}

h3 {
    font-size: 1.5rem;

}

h4 {
    font-size: 1.563rem;
}

.sub-header {
    font-size: 1.4rem;
    color: black;
    -webkit-text-fill-color: transparent;
    background: transparent;
    /* Will override color (regardless of order) */
    -webkit-text-stroke-width: .5px;
    -webkit-text-stroke-color: #92D7E0;
    font-family: var(--font-family-headers);
    font-weight: bolder;
    text-transform: uppercase;
    letter-spacing: 3.3px;
}

li,
a {
    list-style-type: none;
    text-decoration: none;
    color: var(--color-secondary-text-white);
    font-size: .8rem;
}

p,
span {
    font-family: var(--font-family-text);
    color: var(--color-secondary-text-white);
}

p {
    font-size: 1.125rem;
    line-height: 25px;
    font-weight: 200;
}

span {
    font-size: 0.875rem;
}



/* navigatie */

header {
    color: var(--color-secondary-text-white);
    padding: .6em 2em;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    z-index: 100;
}

header img {
    width: 8rem;

}

nav ul {
    display: flex;
    gap: 2rem;
    padding: 0;
}

nav ul li a {
    text-decoration: none;
    color: var(--color-secondary-text-white);
}

nav ul li a:hover {
    border-bottom: 1px solid white;
    padding-bottom: .5em;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}

section {
    height: 100vh;
    padding: 2em 2em;
    scroll-snap-align: start;
    scroll-snap-stop: always;
}


/* SECTION 1 - LANDING */

/* background grain */
.landing-page section:first-of-type{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    flex-direction: column;
}

.landing-page section:first-of-type>img, .grain {
    object-fit: cover;
    width: 100vw;
    height: 100vh;

    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    mix-blend-mode: overlay;

    z-index: -1;
}

.landing-page section:first-of-type>div:first-of-type>div {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* shape  */
.landing-page section:first-of-type>div:first-of-type {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
    position: relative;
}


.landing-page section:first-of-type div:first-of-type>svg {
    position: absolute;
    mix-blend-mode: color-dodge;
    z-index: 10;
    animation: rotate 20S linear infinite;
}

.landing-page section:first-of-type div:first-of-type svg path {
    animation: colorChange 20s linear infinite;
}

.mouse {
    width: 32px;
    position: absolute;
    opacity: 0;
    bottom: 20px;
}

@keyframes appear {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
    }

    100% {
        transform: translateY(0);
    }
}



/* rotating svg */
@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* color changing svg */
@keyframes colorChange {
    0% {
        fill: rgb(63, 60, 120);
    }

    50% {
        fill: rgb(39, 147, 153);
    }

    75% {
        fill: rgb(21, 129, 179);
    }

    100% {
        fill: rgb(63, 60, 120);
    }
}

/* TAG STYLE */
.tag-style {
    background-color: var(--color-primary-bg);
    box-shadow: var(--shadow);
    padding: 0.6em 1em;
    border-radius: 2px;
    font-size: .7rem;
    display: flex;
    align-items: center;
}

/* SECTION 2 - ABOUT ME */
/* grid for sections */
.landing-page section:nth-of-type(2) {
    display: flex;
    align-items: center;
    position: relative;
}

.landing-page section:nth-of-type(2)>article:first-of-type>div:first-of-type {
    display: flex;
    flex-direction: row;
    gap: var(--gap-tags);
}

.landing-page section:nth-of-type(2)>article:first-of-type {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    gap: 0.2em;
    z-index: 1;
}

.landing-page section:nth-of-type(2)>div:last-of-type {
    display: flex;
    grid-column: 4 / span 3;
    height: 100%;
    width: 50%;
    position: absolute;
    bottom: 0;
    right: 0;
}

/* tekst effect */
/* section:nth-of-type(2) > article:first-of-type  > h2{
    position: relative;
    font-size: 3em;
    text-transform: uppercase;
    margin: 0.2em 0;
    background-color: #1a1a1a96;
}
section:nth-of-type(2) > article:first-of-type  > h2::after {
    content: "ABOUT ME";
    position: absolute;
    font-size: .6em;
    top: -25px;
    z-index: -1;
    left: 0;
    -webkit-text-stroke-width: .5px; /* Breedte van de omlijning */
/* -webkit-text-stroke-color: var(--color-secondary-text-white); Kleur van de omlijning */
/* -webkit-text-fill-color: transparent; Vultekst transparant maken */
/* } */

.landing-page section:nth-of-type(2)>div:first-of-type::after {
    content: "";
    width: 100%;
    height: 100%;
    background: radial-gradient(circle, rgba(133, 186, 212, 0.619) 62%, rgba(26, 26, 26, 1) 63%);
    filter: blur(50px);
    z-index: -1;
}

/* img foto lisa */
.landing-page section:nth-of-type(2)>div:last-of-type img {
    width: 100%;
    height: 80%;
    object-fit: contain;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

/* buttons & links */
.landing-page section:nth-of-type(2)>article:first-of-type div:last-of-type {
    display: flex;
    flex-direction: row;
    gap: 1em;
    align-items: center;

}

.landing-page section:nth-of-type(2)>article:first-of-type a {
    cursor: pointer;
    font-size: 1em;
    text-transform: uppercase;
    margin-top: 1em;
}

.landing-page section:nth-of-type(2)>article:first-of-type a:last-of-type {
    background-color: var(--color-secondary-text-white);
    color: var(--color-primary-bg);
    display: flex;
    align-items: center;
    gap: 0.5em;
    padding: 0.2em 1em;
}

.landing-page section:nth-of-type(2)>article:first-of-type a:last-of-type:hover svg path#arrow {
    animation: moveUpDown 1s infinite alternate;
}

@keyframes moveUpDown {
    0% {
        transform: translateY(0);
        /* Beginpositie */
    }

    50% {
        transform: translateY(3px);
        /* Positie halverwege, omhoog */
    }

    100% {
        transform: translateY(0);
        /* Eindpositie, terug naar beneden */
    }
}

/* SECTION 3 - SKILLS */
section:nth-of-type(3)>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    mix-blend-mode: overlay;
    z-index: -1;
    opacity: 0.7;
}

.landing-page section:nth-of-type(3) {
    width: 100vw;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
}

/* intro content */
.landing-page section:nth-of-type(3) article:first-of-type {
    display: flex;
    flex-direction: column;
    gap: .5em;
    width: 50%;
    margin-bottom: 3em;
}

.landing-page section:nth-of-type(3) article:first-of-type h2 {
    margin: 0;
    padding: 0;
}

/* sliding skill cards */
.scrollSection {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.scroll {
    display: flex;
    width: 90%;
    overflow: hidden;
    -webkit-mask-image: linear-gradient(90deg, transparent, black 20%, black 80%, transparent);
    mask-image: linear-gradient(90deg, transparent, black 20%, black 80%, transparent);
    mask-image: linear-gradient(90deg, transparent, black 20%, black 80%, transparent);
}

.scroll:first-of-type {
    margin-bottom: 1.5em;
}

.scroll:first-of-type>.scroll-wrapper {
    white-space: nowrap;
    flex-wrap: nowrap;
    display: inline-flex;
    animation: scroll 25s linear infinite;
}

.scroll:last-of-type>.scroll-wrapper {
    white-space: nowrap;
    flex-wrap: nowrap;
    display: inline-flex;
    animation: scroll 25s linear infinite reverse;
}

.scroll:last-of-type>.scroll-wrapper>.card:hover {
    animation-play-state: paused;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}


/* cards */
.card {
    margin-right: 1em;
    /* Ruimte tussen de kaarten */
    width: 100%;
    height: 180px;
    width: 150px;
    perspective: 1000px;
}


.content {
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.card:hover .content {
    transform: rotateY(180deg);
}

.front,
.back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    background-color: var(--color-primary-bg);
    box-shadow: var(--shadow);
    /* mix-blend-mode: color-dodge; */
}

.front {
    color: black;
    gap: 1.2rem;
}

.front>p {
    margin: 0;
    font-size: 1.2em;
    font-style: italic;
}

.back {
    color: white;
    transform: rotateY(180deg);
    gap: 1.2rem;
}

.back span {
    font-size: 2.5em;
    font-style: bold;
}

.icons {
    width: 64px;
    height: 64px;
}

/* section 4 */
section:nth-of-type(4) {
    height: fit-content;
}

section:nth-of-type(4)>div:first-of-type {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    gap: 1em;
}

section:nth-of-type(4)>article:first-of-type {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    margin-bottom: 50px;
}

.project {
    position: relative;
    gap: 1em;
    background-color: var(--color-primary-bg);
    box-shadow: var(--shadow);
    height: 100%;
    display: flex;
    align-items: center;
    padding: 1em;
}

.project .bg-mask img {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
    mix-blend-mode: multiply;
    object-position: top;
}

.project .bg-mask>div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.2;
}

.project svg circle {
    filter: blur(100px);
}

.project .title,
.title {
    display: flex;
    flex-direction: column;
}

.project .text-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 0.5em;
    z-index: 5;
    padding: 0.5em;
}

.project .tags,
.tags {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 0.2em;
    margin: 0.2em 0;
}


.project h4,
h4 {
    font-size: 1.2rem;
    background: rgb(146, 215, 224);
    background: linear-gradient(90deg, rgba(146, 215, 224, 1) 0%, rgba(94, 140, 160, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.topic-story-paragraph > h4 {
    color: vare(--color-secondary-text-white);
}

.project .bg-mask {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

/* overlay full screen */
.fullscreen-project {
    top: 0;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    z-index: -1;
    transition: all 1s linear;
}

.fullscreen-project .left-side,
.fullscreen-project .right-side {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 50%;
}

.fullscreen-project .left-side {
    transform: translateX(-100%);
    background: var(--color-primary-bg);
    transition: all 1s ease-in-out;
}

.fullscreen-project .right-side {
    transform: translateX(100%);
    background: var(--color-primary-bg);
    transition: all 1s ease-in-out;
}


.fullscreen-project .left-side .project-close {
    position: absolute;
    top: 1em;
    left: 1em;
    cursor: pointer;
    font-size: 1.5em;
    color: var(--color-secondary-text-white);
    z-index: 11;
}

.fullscreen-project .left-side .project-content {
    padding: 1em;
}

.fullscreen-project .left-side .project-link {
    display: flex;
    gap: 0.5em;
    margin: 1em 0;
    background: aliceblue;
    display: inline-flex;
    padding: 0.2em 1em;
    color: black;
    font-weight: 700;
    text-transform: uppercase;
    font-size: .75em;
}

.fullscreen-project .left-side .project-tags {
    display: flex;
    gap: 0.5em;
    flex-wrap: wrap;
    margin: 0.5em 0;
}

.fullscreen-project .right-side .grain {
    width: 100%;
    height: 100%;
    position: absolute;
    mix-blend-mode: multiply;
}

.fullscreen-project .right-side .project-image {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

.fullscreen-project .right-side .project-image svg {
    width: 80%;
    height: 80%;

}

.fullscreen-project .right-side .project-image .project-mockup {
    position: absolute;
    width: 50%;
}

/* overlay active */
.fullscreen-project.active {
    opacity: 1;
    z-index: 10;
    transition: zindex 1s ease-in-out;
}

.fullscreen-project.active .left-side {
    transform: translateX(0);
    transition: transform 1s ease-in-out;
}

.fullscreen-project.active .right-side {
    transform: translateX(0);
    transition: transform 1s ease-in-out;
}

/* left side */
.project-resources-wrapper,
.project-github-wrapper,
.project-description-wrapper {
    display: flex;
    flex-direction: column;
    gap: .5em;
    margin-bottom: 1em;
}

.project-resources {
    display: flex;
    flex-wrap: wrap;
}


.resource-style {
    display: flex;
    gap: .5em;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: rgb(146, 215, 224);
    background: linear-gradient(90deg, rgba(146, 215, 224, 1) 0%, rgba(94, 140, 160, 1) 100%);
    margin-right: -15px;
}

.resource-style:hover {
    background: rgb(94, 140, 160);
    margin: 0 0;
}

.resource-style img {
    height: 16px;
    width: 16px;
}

.resource-content-wrapper {
    display: flex;
    flex-direction: column-reverse;
    gap: .2em;
    position: relative;
}

.resource-content-wrapper .icon-name {
    display: none;
}

.resource-content-wrapper .icon-name-active {
    display: flex;
    position: absolute;
    bottom: -16px;
}



/* Infinite Carousel */
@media (min-width: 900px) {
    section:nth-of-type(4) {
        height: 100%;
    }

    .scroll {
        width: 70%;
    }
}

/* BREAKPOINTS */

/* Mobiele breakpoint (minder dan 400px) */
@media (max-width: 499px) {
    header {
        padding: 1em;
    }

    header ul {
        display: none;
    }

    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 1.8rem;
    }

    h3 {
        font-size: 1.2rem;
    }

    p {
        font-size: .8rem;
        line-height: 22px;
        font-weight: 200;

    }

    a {
        font-size: .9em;
        font-weight: 400;
    }

    section:nth-of-type(2)>div:last-of-type {
        opacity: 0;
    }

    section:first-of-type div:first-of-type>svg {
        max-width: 300px;
    }

    .landing-page section:nth-of-type(3) article:first-of-type h2 {
        font-size: 1.8rem;
    }

    .landing-page section:nth-of-type(3) article:first-of-type {
        width: 300px;
    }

    /* section four */
    section:nth-of-type(4)>div:first-of-type {
        display: flex;
    }

    /* CARDS */
    .card {
        margin-right: .8em;
        /* Ruimte tussen de kaarten */
        width: 100%;
        height: 100px;
        width: 80px;
        perspective: 1000px;
    }

    .front,
    .back {
        gap: .5rem;
    }

    .front>p {
        margin: 0;
        font-size: .8em;
        font-style: italic;
    }

    .icons {
        width: 16px;
        height: 16px;
    }

    .back span {
        font-size: 1.5em;
        font-style: bold;
    }

    section:nth-of-type(4) {
        height: 100vh;
    }

    section:nth-of-type(4)>div:first-of-type {
        display: grid;
        grid-template-columns: repeat(1, 100%);
        gap: 1em;
    }

    section:nth-of-type(4)>article:first-of-type {
        margin-bottom: 30px;
    }

}

/* Desktop breakpoints (400px tot 800px) */
@media (min-width: 400px) and (max-width: 800px) {
    h1 {
        font-size: 3.2rem;
    }

    h2 {
        font-size: 1.4rem;
    }

    h3 {
        font-size: 1rem;
    }

    h4 {
        font-size: .8rem;
    }

    p {
        font-size: 0.7rem;
        line-height: 18px;
        font-weight: 200;

    }

    a {
        font-size: .9em;
        font-weight: 400;
    }

    .sub-header {
        font-size: 1.2rem;
    }

    /* section 1 */
    section:first-of-type div:first-of-type>svg {
        max-width: 300px;
    }

    section:nth-of-type(1) svg.mouse {
        width: 32px;
        height: 32px;
        bottom: 20px;
    }

    /* section 2 */
    section:nth-of-type(2) article:first-of-type>h2 {
        width: 50%;
    }

    section:nth-of-type(2) article:first-of-type>div:first-of-type {
        margin: .5em 0;
    }

    section:nth-of-type(2)>article:first-of-type {
        max-width: 350px;
    }

    section:nth-of-type(2)>article:first-of-type a {
        font-size: .7em;
    }


    section:nth-of-type(2) article:first-of-type>p {
        margin-bottom: .5em;
    }

    .landing-page section:nth-of-type(3) article:first-of-type>h2 {
        font-size: 1.8rem;
    }

    .landing-page section:nth-of-type(3) article:first-of-type {
        width: 60%;
        margin-bottom: 1.5em;
    }




    /* CARDS */
    .card {
        margin-right: .8em;
        /* Ruimte tussen de kaarten */
        width: 100%;
        height: 90px;
        width: 80px;
        perspective: 1000px;
    }

    .front,
    .back {
        gap: .5rem;
    }

    .front>p {
        margin: 0;
        font-size: .7em;
        font-style: italic;
    }

    .icons {
        width: 24px;
        height: 24px;
    }

    .back span {
        font-size: 1rem;
        font-style: bold;
    }


    section:nth-of-type(4)>article:first-of-type {
        max-width: 500px;
        margin-bottom: 25px;
    }

    .project h4 {
        font-size: .8rem;
    }

    .project .discription {
        font-size: .65rem;
        line-height: 16px;
    }

    .fullscreen-project .project-description {
        font-size: .65rem;
        line-height: 16px;
    }

    .tag-style {
        font-size: .6rem;
    }

}

/* Desktop breakpoints (800px tot 1200) */
@media (min-width: 800px) and (max-width: 1200px) {
    h1 {
        font-size: 3.2rem;
    }

    h2 {
        font-size: 1.4rem;
    }

    h3 {
        font-size: 1rem;
    }

    h4 {
        font-size: 1rem;
    }

    p {
        font-size: 0.7rem;
        line-height: 18px;
        font-weight: 200;

    }

    a {
        font-size: .9em;
        font-weight: 400;
    }

    .sub-header {
        font-size: 1.2rem;
    }

    section:first-of-type div:first-of-type>svg {
        max-width: 400px;
    }

    section:nth-of-type(2)>article:first-of-type {
        max-width: 500px;
        gap: 1em;
    }

    section:nth-of-type(4) {
        height: 100vh;
    }

    .scroll {
        width: 65%;
    }

    /* section 1 */
    section:first-of-type div:first-of-type>svg {
        max-width: 350px;
    }

    section:nth-of-type(1) svg.mouse {
        width: 32px;
        height: 32px;
        bottom: 20px;
        z-index: 10;
    }

    /* section 2 */
    section:nth-of-type(2) article:first-of-type>h2 {
        width: 50%;
    }

    section:nth-of-type(2) article:first-of-type>div:first-of-type {
        margin: .5em 0;
    }

    section:nth-of-type(2)>article:first-of-type {
        max-width: 350px;
    }

    section:nth-of-type(2)>article:first-of-type a {
        font-size: .7em;
    }


    section:nth-of-type(2) article:first-of-type>p {
        margin-bottom: .5em;
    }

    /* section three */

    .landing-page section:nth-of-type(3) article:first-of-type>h2 {
        font-size: 1.8rem;
    }

    .landing-page section:nth-of-type(3) article:first-of-type>p {
        text-align: center;
    }

    .landing-page section:nth-of-type(3) article:first-of-type {
        width: 45%;
        margin-bottom: 1.5em;
        display: flex;
        align-items: center;
    }

    /* CARDS */
    .card {
        margin-right: .8em;
        /* Ruimte tussen de kaarten */
        width: 100%;
        height: 90px;
        width: 80px;
        perspective: 1000px;
    }

    .front,
    .back {
        gap: .5rem;
    }

    .front>p {
        margin: 0;
        font-size: .7em;
        font-style: italic;
    }

    .icons {
        width: 24px;
        height: 24px;
    }

    .back span {
        font-size: 1rem;
        font-style: bold;
    }

    /* section four */
    section:nth-of-type(4) {
        height: 100%;
    }

    section:nth-of-type(4)>article:first-of-type {
        max-width: 500px;
        margin-bottom: 25px;
    }

    .project h4 {
        font-size: .8rem;
    }

    .project .discription {
        font-size: .65rem;
        line-height: 16px;
    }

    .fullscreen-project .project-description {
        font-size: .65rem;
        line-height: 16px;
    }

    .tag-style {
        font-size: .6rem;
    }

}

/* Grote desktops (1200px en groter) */
@media (min-width: 1200px) {
    h1 {
        font-size: 6rem;
    }

    h2 {
        font-size: 3rem;
    }

    h3 {
        font-size: 2rem;
        line-height: 30px;
    }

    h5 {
        font-size: 1.2rem;
    }

    p {
        font-size: 1rem;
        line-height: 22px;
        font-weight: 200;
    }

    span,
    .tag-style {
        font-size: 1rem;
    }

    a {
        font-size: 1em;
        font-weight: 400;
    }

    section {
        padding: 2em 5em;
    }

    section:first-of-type div:first-of-type>svg {
        max-width: 600px;
    }

    section:nth-of-type(2)>article:first-of-type {
        max-width: 600px;
        gap: 1em;
    }

    section:nth-of-type(4) {
        height: 100vh;
    }

    .scroll {
        width: 80%;
    }

}